*{
    margin: 2px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.box1{
    background-color: blueviolet;
    grid-area: 1 / 1 / 5 / 5;
    border-radius: 25px;
}
.box2{
    background-color: aqua;
    grid-area: 5 / 1 / 9 / 3;
    border-radius: 25px;
}
.box3{
    background-color: aquamarine;
    grid-area: 5 / 3 / 6 / 5;
    border-radius: 25px;
}
.box4{
    background-color: chartreuse;
    grid-area: 6/3/9/5;
    border-radius: 25px;
}
.box5{
    background-color: coral;
    grid-area: 9/1/13/5;
    border-radius: 25px;
}
.box6{
    background-color: darkmagenta;
    grid-area: 1/5/8/7;
    border-radius: 25px;
}
.box7{
    background-color: darkolivegreen;
    grid-area: 1/7/1/9;
    border-radius: 25px;
}
.box8{
    background-color: darkslategray;
    grid-area: 2/7/8/9;
    border-radius: 25px;
}
.box9{
    background-color: darkgreen;
    grid-area: 8/5/13/9;
    border-radius: 25px;
}
.box10{
    background-color: indigo;
    grid-area: 1/9/1/13;
    border-radius: 25px;
}
.box11{
    background-color: limegreen;
    grid-area: 2/9/2/9;
    border-radius: 25px;
}
.box12{
    background-color: orangered;
    grid-area: 2/10/2/13;
    border-radius: 25px;
}
.box13{
    background-color: sienna;
    grid-area: 3/9/10/13;
    border-radius: 25px;
}
.box14{
    background-color:plum;
    grid-area: 10/9/13/13;
    border-radius: 25px;
}